<header class=" bg-slate-950 z-40 text-center text-5xl md:text-6xl font-['Creepster'] text-white py-3 px-5
[text-shadow:0_0_1px_#fff,0_0_10px_#fff]">
  <h1>
    Datos para transferencias
  </h1>
</header>
