<section class="sticky top-20 w-full h-full px-5 pb-5">

    <div class="relative  mx-auto my-5 
     bg-[url(dian.jpeg)] bg-no-repeat bg-cover
    w-full max-w-[250px] h-[250px] md:max-w-[350px] md:h-[350px]  rounded-full 
    [box-shadow:0_0_10px_#fff,0_0_20px_#fff]
    before:content-['Rivas_Cedeno_Diandra_Kazaira'] 
    before:w-full before:h-full before:absolute
     before:bg-slate-950 before:bg-opacity-50 
     before:flex before:justify-center before:items-center
      before:text-white before:font-bold font-['Cousine'] before:text-2xl md:before:text-4xl 
      before:p-4
      before:rounded-full">
    </div>

    <div class="text-white text-center text-xl font-bold">
      <div>
        <p>
          <b>Correo: </b>
          diandrarivas0@gmail.com
        </p>
      </div>
    </div>
</section>